
<footer>
    Created by 
    <a href='https://twitter.com/thebardIRL' target=_blank>
        Meghan Bucher 
    </a>
    /
    <a href='https://github.com/bardIRL' target=_blank>
        bardIRL
    </a>
</footer>
</body>
</html> 