body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
